body {
    background-color: #121212;
    color: white;
    
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    background-color: rgb(255, 60, 60);
    height: 70px;
    width: 500px;
    align-content: center;
    margin: auto;
    border: 3px solid rgb(97, 42, 42);
    border-radius: 10px;

    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: brown;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: rgb(231, 75, 75);
}

.stranger-things {
    display: block;
    margin: 40px auto;
    width: 500px;
    border: rgb(231, 75, 75) solid 3px ;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.29) 6px 6px;
    transition: all 0.3s ease;
}

.stranger-things:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.craque {
    font-size: 40px;
}